body {
    background-color:#50735C;
    color: #2E4D46;
} 

.infoDiv {
    font-family:'Times New Roman', Times, sans-serif;
    color: white;
    width:50%;
    background-color:#86BF9A;
    border:3px solid #2E7346;
    margin:auto;
    padding: 10px;
    padding-top:5px;
}

a:link, a:visited {
    text-decoration: none;
    color:#A5F4A7;
}

a:hover {
    text-decoration:underline;
    color:#50735C;
}

