/* Structure */
body {
    background-color:#50735C;
    color: #2E4D46;
    font-family:'Times New Roman', Times, sans-serif;
} 

/* Main Header */
#main-header {
    text-align: center;
    color: white;
}
#name {
    text-align: left;
    padding-left: 2%;
}

/* Assignment Container + Links/Photos */
#assignments {
    margin: auto;
}

#coll1of4, #coll2of4, #coll3of4, #coll4of4, #coll5of4 {
    background-color:#86BF9A;
    margin: 2%;
    width: 20%;
    text-align: center;
    padding: 1%;
    padding-top: .5%;
    border: solid 3px #2E7346;
}

#title {
    font-size: 1.7em;
}

a:link, a:visited {
    text-decoration: none;
    color:#2E7346;
}

a:hover {
    text-decoration:wavy;
    color:#A5F4A7;
}

#text-div {
    text-align: left;
    padding-top: 1%;
}

#logo{
    border: solid 2px #2E7346;
}

#logo:hover {
    border: solid 2px #A5F4A7; 
}


@media only screen and (min-width: 900px){
    /* Flex Container*/
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    



}

 /*
    #86BF9A;
    #2E7346;
    */