header {
    text-align: center;
}

.title {
    font-size: 3em;
}

.motto {
    font-size: 2em;
}


/* body content */
#body-content {
    padding: 1%;
}

/* photo column */
#photo-column {
    border: 2px solid black;
}
#photo-column li {
    list-style-type: none;
    padding: 10px;
}

ul {
    margin: auto;
    padding-left: 0;
}

/* sign in */
#sign-in {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

input {
    width: 80%;
    height: 40px;
}

#button-sign-in {
    width: 60%;
    height: 40px;
    margin: 8%;
}

#sign-in h4 {
    margin: 5%;
}

#new-account {
    margin-top: 2%;
}

#new-account:hover {
    cursor: pointer;
}




/* Larger Resolution */
@media only screen and (min-width: 900px){
    /* Flex Container */   
    .flex-container {
        display: flex;
    }
}